<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <title> Stock Time Series </title>

    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

    {{ plot_script|indent(4)|safe }}

  </head>
  <body>
     <form action="setsymbol" method="post">
      Stock Symbol: <input type="text" name="symbol"></br>
      <input type="submit" value="Submit">
    </form>
    {{ plot_div|indent(4)|safe }}
  </body>
</html>
